<%- include("./../partials/header.ejs") %>

<div class="container header-spacing">
    <h2 class="text-center">Leaderboard</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Public Labels Created</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user) { %>
                <tr>
                    <td><a href="/users/<%= user.UserID %>/labels"><%= user.FullName %></a></td>
                    <td><%= user.LabelCount %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include("./../partials/footer.ejs") %>
