<%- include("./../partials/header.ejs") %>

<div class="container header-spacing">
    <h2 class="text-center"><%= userName %>'s Public Labels</h2>

    <div class="row">
        <% if (labels.length > 0) { %>
            <% labels.forEach(function(label) { %>
                <div class="col-md-4 mb-4">
                    <div class="card text-center label-card">
                        <div class="card-body p-0">
                            <div class="label-image-container position-relative">
                                <img src="/images/<%= label.LabelDesign %>" alt="Label Design" class="img-fluid label-image">
                                
                                <div class="label-overlay">
                                    <h5 class="label-name"><%= label.LabelName %></h5>
                                    <p class="label-type"><%= label.LabelOption %></p>
                                </div>

                                <div class="label-hover-overlay">
                                    <div class="btn-group-vertical">
                                        <a href="/labels/view/<%= label.LabelID %>" class="btn btn-primary">View</a>
                                    </div>
                                </div>

                                <div class="qr-code-container" style="position: absolute; bottom: 10px; left: 50%; transform: translateX(-50%); background: none;">
                                    <img src="<%= qrCodes[label.LabelID] %>" alt="QR Code for <%= label.LabelName %>" class="qr-code-image" style="max-width: 100px; background-color: transparent !important; border: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <p class="text-center">No public labels available.</p>
        <% } %>
    </div>
</div>

<%- include("./../partials/footer.ejs") %>
